
h1 {
  clear: left;
  margin: 8px 0 0 0;
  padding: 0 0 3px 0;
  color: #974806;
  font-size: 160%;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
  color: #586596;
  margin: 0.75em 0 0.25em 0;
  font-size: 110%;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3 {
  margin: .75em 0 .25em 0;
  color: #7f7f7f;
  font-size: 110%;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h4 {
  margin: .75em 0 .25em 0;
  font-size: 100%;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h5, h6 {
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
