dl.help {
  max-width: 400px;
}

dl.help dt {
  margin: 1.5em 0 .4em 0;
  font-weight: bold;
  font-size: 13px;
  color: #366092;
}

dl.help dt .checkbox-label {
  margin: 1.5em 0 .4em 0;
  font-weight: bold;
  font-size: 13px;
  color: #366092;
}

dl.help dd {
  font-size: 12px;
  line-height: 160%;
}

article.help {
  font-size: 14px;
}

article.help p {
  line-height: 160%;
}

section.help {
  font-size: 14px;
}

section.help p {
  line-height: 160%;
}
