.budget-header {
  margin-bottom: 2.5rem;
  font-size: 1.625rem;
}

.budget-header__budgetno {
  margin-bottom: .375rem;
  font-family: $font-family-monospace;
  font-size: 100%;
}

.budget-header__detail {
  color: #575757;
  font-size: 14px;
}
